/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-altslogo-altslogo {
	svg {
		max-width: 100%;
	}
	&.is-style-animation-dash {
		svg > *:not(title):not(defs) {
			animation: dashdraw 3.2s cubic-bezier(0.77, 0.2, 0.05, 1);
		}
	}
}
@keyframes dashdraw {
	0% {
		opacity: 0;
		stroke: #000;
		stroke-width: 0.01rem;
		stroke-dashoffset: 40;
		stroke-dasharray: 80;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
	30% {
		opacity: 1;
	}
	100% {
		stroke-dashoffset: 400;
    stroke-dasharray: 480;
		stroke-dasharray: none;
	}
}