#altslogo-admin {
	.components-base-control {
		width: 80vw;
		max-width: 40em;
		margin-bottom: 1em;
	}
	.encodeSVG {
		padding: 1em;
		margin: 1em 0;
		background-color: #fff;
	}
	.previewSVG {
		width: 200px;
		height: 200px;
		display: block;
	}
}
